@font-face {
  font-family: 'TT Squares';
  src: url('TTSquares-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TT Squares';
  src: url('TTSquares-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Squares';
  src: url('TTSquares-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}